
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, select {
        margin: 8px;
    }
</style>




<br />
<br />
<div class="row">
    <div class=" col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card card-header-pills">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div class="card-body">
                <form action="/Home/CreateData" method="post">
                    <input type="text" placeholder="Name" name="name" required class="form-control col-md-12" />
                    <input type="email" placeholder="Email" name="email" required class="form-control" />
                    <input type="password" placeholder="Password" name="password" required class="form-control" />
                    <input type="password" placeholder="Re-Enter Password" name="cpassword" required class="form-control" />
                    <input type="text" placeholder="Phone" name="phone" required class="form-control" />
                    <input type="text" placeholder="Address" name="address" required class="form-control" />
                    <select style="display:none" id="ddlShops" name="ddlShops" class="form-control">
                        @foreach (var item in (List<SweetShop.Models.Shop>)ViewBag.ddlShopsData)
                        {
                            <option value="@item.ShopID">@item.Name</option>
                        }
                    </select>

                    <script>
                        function changeToManager() {
                            document.getElementById('ddlShops').style.display = 'block'
                        }

                        function changeToCustomer() {
                            document.getElementById('ddlShops').style.display = 'none'
                        }
                    </script>

                  

                    <div>
                        <input onclick="changeToCustomer()" type="radio" value="Customer" checked  name="type" />
                        <label class="form-check-label">Customer</label>

                        <input onclick="changeToManager()" type="radio" value="Manager" name="type"  />
                        <label class="form-check-label">Manager</label>


                        <br />
                        <input type="submit" value="Register" class="btn btn-primary " />
                    </div>
                </form>

            </div>
            <div class="card-footer">
                Already have an account?
                <a href="/Home/Login">Login Now</a>
            </div>
        </div>
    </div>
</div>

